<html>
<head>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>

<table>
    <tr>
        <td>Date</td>
        <td>Open</td>
        <td>High</td>
        <td>Low</td>
        <td>Close</td>
        <td>Volume</td>
    </tr>
    {% for item in history %}
    <tr>
        <td>{{ item.date.format('Y-m-d') }}</td>
        <td>{{ item.open }}</td>
        <td>{{ item.high }}</td>
        <td>{{ item.low }}</td>
        <td>{{ item.close }}</td>
        <td>{{ item.volume }}</td>
    </tr>
    {% endfor %}
</table>


<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
<script>
    var myChart = new Chart("myChart", {
        type: "line",
        data: {},
        options: {}
    });
    // var xyValues = [
    //     {x:50, y:7},
    //     {x:60, y:8},
    //     {x:70, y:8},
    //     {x:80, y:9},
    //     {x:90, y:9},
    //     {x:100, y:9},
    //     {x:110, y:10},
    //     {x:120, y:11},
    //     {x:130, y:14},
    //     {x:140, y:14},
    //     {x:150, y:15}
    // ];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: {{ labels|raw }},
            datasets: [{
                pointRadius: 4,
                pointBackgroundColor: "rgba(0,0,255,1)",
                data: {{ open_data|raw }}
            },
            {
                pointRadius: 4,
                pointBackgroundColor: "rgba(255,0,0,1)",
                data: {{ close_data|raw }}
            }],
        },
        options:{}
    });
</script>
</body>
</html>